<nav class="flex p-3 bg-gradient-to-r from-blue-500 to-blue-300 items-center">
  <h1 class="text-2xl mr-10 font-medium">Fake Social Site</h1>
  <span class="text-neutral-700 mx-2 text-lg cursor-pointer font-medium" routerLink="/users"
        routerLinkActive="text-white">Users</span>
  <span class="text-neutral-700 mx-2 text-lg cursor-pointer font-medium" routerLink="/albums"
        routerLinkActive="text-white">Albums</span>
  <span class="text-neutral-700 mx-2 text-lg cursor-pointer font-medium" routerLink="/posts"
        routerLinkActive="text-white">Posts</span>
</nav>
