<div *ngIf="currentUser && comments; else loading"
     class="border p-2 my-2 mx-auto duration-150 hover:scale-110 hover:py-4 hover:shadow-2xl "
     [ngClass]="this.userPostStyle?'w-10/12':'w-4/6'">
  <div>
    <h1>
      {{currentUser.name}}
    </h1>
    <h2 class="bg-gradient-to-r from-cyan-200 to-blue-100"><span
      class="font-medium ">Title:</span> {{post.title}}</h2>
    <hr>
    <h3 class="text-sm mt-3 px-5"> {{post.body|shorten:shortenText}} <span
      class="cursor-pointer border bg-blue-200 rounded-2xl px-1 text-xs hover:bg-blue-100"
      (click)="this.shortenText=!this.shortenText"
      *ngIf="shortenText">expand</span></h3>
  </div>
  <div class="px-4 py-2">
    <span class="cursor-pointer border bg-blue-200 rounded-2xl px-1 text-xs hover:bg-blue-100"
          (click)="this.openComments=!this.openComments"
          *ngIf="!openComments &&comments.length>0">Show Comments({{comments.length}})</span>
    <div *ngIf="openComments ">
      <div *ngFor="let comment of comments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>

      </div>

    </div>
  </div>
</div>
<ng-template #loading>
  <h1>LOADING DATA...</h1>
</ng-template>
